#drawer-btn{
    z-index: 1;
    top: 75px;
    left: 220px; 
    position: absolute;
    padding: 0;
    width: 35px;
    height: 35px;
    background-color: rgb(255,255,255); 
    border: 0;
}

@media screen and (min-width:780px) {
    #drawer-btn{
        display: none;
    }
}