#layout{
  height: 100%;
  overflow: auto;
}

#nav-header{
  background-color: rgb(255, 255, 255);
  padding: 0 40px;
  z-index: 10;
  box-shadow: 0 2px 8px #f0f1f2 ;
  width: 100%;
}

#main-layout{
  padding-top: 40px; 
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

#lsider{
  padding-left: 40px;
  overflow: auto;
}

#contents-layout{
  padding: 0 24px 0;
  background-color: rgb(255, 255, 255);
  overflow: auto;
}

#rsider{
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width:780px) {
  #lsider{
    display: none;
  }
  #contents-layout{
    padding: 0 12px 0;
  }
  #nav-header{
    padding: 0 12px;
  }
  #rsider{
    display: none;
  }
}