.nav-header-row{
    height: 64px;
}
  
.nav-header-row-logo{
    display: table-cell;
    text-align: center;
    float: left;
    width: 235px;
    height: 64px;
    background-color: rgb(255, 255, 255);
}
  
.nav-header-row-info{
    margin-left: 225px;
    height: 64px;
    background-color: rgb(255, 255, 255);
}

#logo{
    width: 80%;
    height: 80%;
}